.btn-group button {
    background-color: #0074d9; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 8px 16px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 4px;
    margin: 0px 4px 4px 4px;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #009DEE;
  }