html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    opacity: 0;
}

p {
    font-size: 14px;
}

.slider-container {
    display: flex;
    margin-top: 6px;
    margin-bottom: 6px;
    align-items: center; /* center slider and laber vertically */
    height: 100%;
}