body {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
        ),
        url("{{url_for('static', filename='img/bike_bg.jpg')}}");

    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Roboto', sans-serif;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    min-width: 300px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

h3 {
    margin: 17px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ccc;
}

input:focus {
    border-color: #4f850d;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #4f850d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9cde4e;
}

a {
    color: rgb(224, 106, 3);
}