<!DOCTYPE html>
<html>
<head>
    <title>komootRoutes - Map</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/> <!-- Leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.2.3/css/leaflet-sidebar.min.css"> <!-- Leaflet-Sidebar -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> <!-- Font-Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legend.css') }}"> <!-- Legend -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_group.css') }}"> <!-- Button Group -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Custom -->

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script> <!-- Leaflet -->
    <script src="https://cdn.jsdelivr.net/npm/gpxparser@3.0.8/dist/GPXParser.min.js"></script> <!-- GPX Parser -->
    <script src="https://hgoebl.github.io/Leaflet.MultiOptionsPolyline/Leaflet.MultiOptionsPolyline.js"></script> <!-- Leaflet-Polyline -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.2.3/js/leaflet-sidebar.min.js"></script> <!-- Leaflet-Sidebar -->
</head>
<body>
    <div id="sidebar" class="leaflet-sidebar collapsed">
        <!-- Nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <ul role="tablist"> <!-- top aligned tabs -->
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    
        <!-- Tab panes -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home">
                <h1 class="leaflet-sidebar-header">
                    Komoot - Personal Heatmap
                    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>

                <p>Mapping <b id="amount-label">32</b> of {{display_name}}'s tours.</p>

                <hr>

                <h3 class='custom-title'>Visualisation</h3>
                <div class="btn-group">
                    <button id="heatmap" onclick="Visualizer.show_polylines(map, allRoutes, 'heatmap');">Heatmap</button>
                    <button id="speed" onclick="Visualizer.show_polylines(map, allRoutes, 'speed');">Speed</button>
                    <button id="incline" onclick="Visualizer.show_polylines(map, allRoutes, 'incline');">Incline</button>
                    <button id="elapsed" onclick="Visualizer.show_polylines(map, allRoutes, 'elapsed');">Elapsed Time</button>
                </div>

                <label for="line_range">Line width:</label>
                <input type="range" min="1" max="6" value="4" step="1" class="slider" id="line_range">

                <hr>

                <div class='my-legend'>
                    <h3 class='custom-title' id="legend-label">Legend</h3>
                    <div class='legend-scale'>
                      <ul class='legend-labels'>
                        <li>-<span style='background:#0000FF;'></span></li>
                        <li>-<span style='background:#0040FF;'></span></li>
                        <li>-<span style='background:#0080FF;'></span></li>
                        <li>-<span style='background:#00FFB0;'></span></li>
                        <li>-<span style='background:#00E000;'></span></li>
                        <li>-<span style='background:#80FF00;'></span></li>
                        <li>-<span style='background:#FFFF00;'></span></li>
                        <li>-<span style='background:#FFC000;'></span></li>
                        <li>-<span style='background:#FF0000;'></span></li>
                      </ul>
                    </div>
                </div>

                <br><hr>

                <h3 class='custom-title'>Layer</h3>
                <div class="btn-group">
                    <button id="osm" onclick="Visualizer.change_layer('osm');">OpenStreetMap</button>
                    <button id="speed" onclick="Visualizer.change_layer('satellite')">Satellite</button>
                </div>

                <br><hr>

                <h3 class='custom-title'>Filter activities</h3>

                <div id="filter-container">
                    <input class="filter-checkbox" type="checkbox" id="hiking" checked>
                    <label for="filter_hiking">Hiking</label><br>

                    <input class="filter-checkbox" type="checkbox" id="cycling" checked>
                    <label for="filter_cycling">Cycling</label><br>

                    <input class="filter-checkbox" type="checkbox" id="mountainbiking" checked>
                    <label for="filter_mountainbiking">Mountain-biking</label><br>

                    <input class="filter-checkbox" type="checkbox" id="roadbiking" checked>
                    <label for="filter_roadbiking">Road-biking</label><br>

                    <input class="filter-checkbox" type="checkbox" id="running" checked>
                    <label for="filter_running">Running</label><br>

                    <input class="filter-checkbox" type="checkbox" id="gravel" checked>
                    <label for="filter_gravel">Gravel-biking</label><br>

                    <input class="filter-checkbox" type="checkbox" id="other" checked>
                    <label for="filter_other">Other</label><br>
                </div>

                <br><hr>
                
                <a href="https://github.com/oskarkraemer/komootHeatmap"><img src="https://img.shields.io/github/stars/oskarkraemer/komootHeatmap.svg?style=social&amp;label=Star&amp;maxAge=2592" alt="GitHub stars" style="max-width: 100%;"></a>
                <a href="https://www.gnu.org/licenses/gpl-3.0" rel="nofollow"><img src="https://img.shields.io/badge/License-GPLv3-blue.svg" alt="License: GPL v3" style="max-width: 100%;"></a>

            </div>
    
            <div class="leaflet-sidebar-pane" id="profile">
                <h1 class="leaflet-sidebar-header">Profile<div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <p>Logged in as: <b>{{display_name}}</b></p>
            </div>
        </div>
    </div>

    <div id="progress_box">
        <label for="gpx_progress">Downloading tours:</label>
        <progress id="gpx_progress" value="0" max="100"></progress>
    </div>

    <div id="map" style="height: 100vh;"></div>

    <script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
      
</body>
</html>