<!DOCTYPE html>
<html>
  <head>
        <title>komootRoutes - Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    </head>
    <body> 
        <form method="post">
            <img src="https://github.com/oskarkraemer/komootHeatmap/raw/master/docs/heatmap-icon.png?raw=true" width="100px">

            <h1>Komoot <span style="color:rgb(224, 106, 3)">Heatmap</span></h1>
            <a href="https://github.com/oskarkraemer/komootHeatmap"><img src="https://img.shields.io/github/stars/oskarkraemer/komootHeatmap.svg?style=social&amp;label=Star&amp;maxAge=2592" alt="GitHub stars" style="max-width: 100%;"></a>

            <p style="font-size: 14px; margin-bottom: 18px;"><b>NOTE:</b> This site is not affiliated with Komoot. <br>Yet, <b>NO</b> credentials will be saved on any server. <br> <a target="_blank" rel="noopener noreferrer" href="https://github.com/oskarkraemer/komootHeatmap#installation">Learn more</a></p>

            <hr>

            <h3>Login with <span style="color:#4f850d">Komoot</span></h3>

            {% if error %}
                <p style="color: red;">Incorrect credentials</p>
            {% endif %}

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign In</button>
          </form>
    </body>
</html>